* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(#727272, #3f3f3f);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#todoMaster {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 200px auto 200px auto;
  width: 400px;
  min-height: 600px;
  background-color: #241721;
  border-radius: 20px;
  color: white;
}

#currentTodoListPage {
  display: none;
  flex-direction: column;
  flex-grow: 1;
}

#statsPage {
  display: none;
  flex-grow: 1;
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#homePageListOfLists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.homePageListName {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.homePageListName:hover,
.homePageListName:focus {
  background-color: #2c1f29;
  cursor: pointer;
}

#listOfListsTitle {
  margin: 15px 0;
}

#todoHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#titleContainer {
  width: 100%;
}

#todoTitle {
  cursor: pointer;
  margin: 20px auto;
  width: fit-content;
  max-width: 85%;
  padding: 2px 5px;
  font-size: 20px;
  border-radius: 4px;
}

#todoTitle:focus {
  cursor: text;
}

#todoTitle:hover {
  background-color: #535353;
}

#dropdownContainer {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#dropdownBtn {
  position: absolute;
  margin-right: 20px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #636363;
  border-radius: 100%;
}

#dropdownList {
  display: none;
  margin-right: 20px;
  min-width: 200px;
  max-width: 300px;
  padding: 10px 0px;
  background: #636363;
  text-align: center;
  z-index: 1;
}

#dropdownBtn:hover + #dropdownList,
#dropdownList:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

#taskList {
  margin: 10px 0px;
}

#taskList div {
  display: flex;
  width: 100%;
  padding: 4px 0px;
}

#taskList div:hover,
#createNewList:hover {
  background-color: #797979;
  cursor: pointer;
}

#taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.deleteBtn {
  flex-shrink: 0;
  align-self: center;
  height: 20px;
  width: 20px;
  visibility: hidden;
}

.taskDiv:hover div + .deleteBtn {
  visibility: visible;
}

.dropdownTaskDiv {
  display: flex;
}

.dropdownTaskDiv:hover div + .deleteBtn {
  visibility: visible;
}

#confirmListDelete {
  width: 100%;
  position: absolute;
}

#addTodo {
  align-self: center;
  background-color: #ffffff;
  border-radius: 100px;
  font-size: 24px;
  border: none;
  width: 50px;
  height: 50px;
}

#addTodo:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

#addTodo:active {
  box-shadow: 0px 0px 3px 1px #00000085;
}

#todoList {
  width: 85%;
  margin: 0 auto;
  flex-grow: 1;
}

.taskDiv {
  display: inline-flex;
  width: 100%;
  align-items: baseline;
  margin-bottom: 10px;
  line-height: 28px;
  padding: 0 5px;
}

.taskDiv:hover,
.taskDiv div:focus {
  background-color: #535353;
  border-radius: 4px;
}

.taskDiv [type="checkbox"] {
  flex-shrink: 0;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.taskDiv [contenteditable="true"] {
  font-size: 16px;
  min-width: 50%;
  padding: 0px 4px;
  flex-grow: 1;
}

.taskDiv div[data-editing="false"]:hover {
  cursor: pointer;
}

.taskDiv div[data-completed="true"] {
  text-decoration: line-through;
}

.taskDiv div:focus {
  outline: none;
}

.title {
  font-weight: bold;
}

#appFooter {
  display: flex;
  flex-direction: column;
}

#appNavbar {
  display: flex;
  flex-basis: 50px;
  justify-content: space-around;
}

.thinLine {
  margin-top: 15px;
  height: 2px;
  background-color: #2c1f29;
}

#appNavbar button {
  text-align: center;
  flex-grow: 1;
}

.btnLineHeight {
  margin: 10px 0 15px 0;
}

#appNavbar :first-child {
  border-bottom-left-radius: 20px;
}

#appNavbar :last-child {
  border-bottom-right-radius: 20px;
}

#homeBtn div {
  border-bottom-left-radius: 20px;
}

#appNavbar div:hover {
  background-color: #2c1f29;
  cursor: pointer;
}

.navbarIcon {
  font-size: 24px;
}

.btn {
  background-color: #241721;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* outline: none; */
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #2c1f29;
  cursor: pointer;
}

.customHR {
  width: 100%;
  height: 3px;
  background-color: #2c1f29;
}

.favorites {
  float: right;
}